<h3>マイページ</h3>

<h3>登録情報</h3>

<%= link_to '編集する', edit_customers_path %>

<table>
  <tbody>
    <tr>
      <tb><%= @customer.last_name %></tb>
      <tb><%= @customer.first_name %></tb>    
      <tb><%= @customer.last_name_kana %></tb>
      <tb><%= @customer.first_name_kana %></tb>
      <tb><%= @customer.address %></tb>
      <tb><%= @customer.phone_number %></tb>    
      <tb><%= @customer.address_number %></tb>    
      <tb><%= @customer.email %></tb>    
    </tr>
  </tbody>
</table>



<h3>配送先</h3> <%= link_to '一覧を見る', deliveries_path %>
<h3>注文履歴</h3> <%= link_to '一覧を見る', orders_path %>