
  <%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>
   <div class="form-group">
    <h5>商品名</h5>
      <%= f.file_field :image, accept: "image/*" %>
   </div>
   <div class="form-group">
    <h5>商品名</h5>
     <%= f.text_field :name %>
   </div>
   <div class="form-group">
    <h5>商品説明</h5>
     <%= f.text_area :detail %>
     
   <div class="form-group">
    <h5>ジャンル</h5>
     <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name) %>
    </div>

   <div class="form-group">
    <h5>税抜価格</h5>
     <%= f.text_area :tax_free %>円
   </div>

   <div class="form-group">
    <h5>販売ステータス</h5>
     <%= f.select :is_active ,[['販売中',true],['販売停止中',false]] %>
   </div>

   <div class="form-group">
     <%= f.submit '変更を保存' %>
   </div>

<% end %>
