
<h6 class="alert-secondary d-inline-block font-weight-bold mb-3 mt-4 ml-5 px-3">商品一覧</h6>
   <!--一覧表示-->
  <%= link_to new_admin_item_path, class:'float-right mt-3 mr-5 pr-5', style:'text-decoration:none;' do %>
    <div class="h5 btn d-inline btn btn-outline-light shadow-sm rounded mr-5" style="color: black;">＋</div>
  <% end %>

   <table class="table table-hover ml-auto mr-auto w-75">
    <thead class="alert-secondary border-bottom border-top border-secondary">
     <tr>
      <th class="py-1">商品ID</th>
      <th class="">商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
     </tr>
    </thead>
    <tbody class="border-bottom border-secondary font-weight-bold">
     <% @items.each do |item| %>
     <tr>
      <td class="py-1"><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item.id) %></td>
      <td><%= item.tax_free %></td>
      <td><%= item.genre.genre_name %></td>
      <td><% if item.is_active %>
             <span class="text-success">販売中</span>
          <% else item.is_active %>
             <span class="text-secondary">販売停止中</span>
          <% end %>
      </td>
     </tr>
     <% end %>
    </tbody>
   </table>

   <nav aria-label="Page navigation">
     <div class="pagination justify-content-center">
       <%= paginate @items %>
     </div>
   </nav>
