
      <h2 class="mt-3">商品新規登録</h2>
   <%= form_with model: @item, url:admin_items_path, local:true do |f| %>
   <div class="form-group">
    <h5>商品名</h5>
      <%= f.file_field :image, accept: "image/*" %>
   </div>
   <div class="form-group">
    <h5>商品名</h5>
     <%= f.text_field :name %>
   </div>
   <div class="form-group">
    <h5>商品説明</h5>
     <%= f.text_area :detail %>
   </div>
   <div class="form-group">
    <h5>ジャンル(未実装)</h5>
     <%= f.text_area :genre_id %>
   </div>

   </div>
   <div class="form-group">
    <h5>税抜価格</h5>
     <%= f.text_area :tax_free %>円
   </div>
   <div class="form-group">
    <h5>販売ステータス</h5>

     <%= f.radio_button :is_active, "true" %>
     <%= f.label :is_active, "販売中" %>
     <%= f.radio_button :is_active, "false" %>
     <%= f.label :is_active, "販売停止中" %>
   </div>

   <div class="form-group">
     <%= f.submit '新規登録' %>
   </div>
   <% end %>
  </div>