 <body>
  <h5 class="alert-secondary d-inline-block font-weight-bold mb-5 ml-5 px-3">商品新規登録</h5>
   <div class="container-fluid w-50 mx-auto">
   <%= form_with model: @item, url:admin_items_path, local:true do |f| %>
   <div class="form-group row">
    <label class="col-sm-2 col-form-label">商品画像</label>
       <div class="col-sm-10">
        <%= f.file_field :image, accept: "image/*", class: "custom-file-input" %>
        <label class="custom-file-label" data-browse="参照">ファイル選択...</label>
      </div>
     </div>

   <div class="form-group row">
        <label class="col-sm-2 col-form-label">商品名</label>
       <div class="col-lg-4">
        <%= f.text_field :name, class: "form-control"%>
       </div>
    </div>

<<<<<<< HEAD
     <%= f.radio_button :is_active, "0" %>
     <%= f.label :is_active, "クレジットカード" %>
     <%= f.radio_button :is_active, "1" %>
     <%= f.label :is_active, "銀行振込" %>
=======
    <div class="form-group row">
       <label class="col-sm-2 col-form-label">商品説明</label>
    <div class="col-lg-4">
     <%= f.text_area :detail, class: "form-control" %>
>>>>>>> 1337f879299fd8f08858066edf726d9ab5661a8d
   </div>
  </div>

  <div class="form-group row">
     <label class="col-sm-2 col-form-label">ジャンル</label>
     <div class="col-lg-4">
      　<%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :genre_name), {}, {class: "form-control"} %>
   </div>
  </div>

  <div class="form-group row">
     <label class="col-sm-2 col-form-label">税抜価格</label>
     <div class="col-lg-4">
      <%= f.text_field :tax_free, class: "form-control" %>
     </div>
  </div>

  <div class="form-group row">
      <label class="col-sm-3 col-form-label">販売ステータス</label>
     <div class="col-lg-4">
      <%= f.radio_button :is_active, "true", class: "checkbox" %>
      <%= f.label :is_active, "販売中", class: "radio" %>
      <%= f.radio_button :is_active, "false", class: "checkbox" %>
      <%= f.label :is_active, "販売停止中", class: "radio" %>
     </div>
  </div>

   <div class="actions">
     <%= f.submit '商品登録', class:'btn btn-sm btn-success px-4 w-25' %>
   </div>
   <% end %>
  </div>
 </body>