 <body>
  <h5 class="alert-secondary d-inline-block font-weight-bold mt-4 mb-5 ml-5 px-3">商品詳細</h5>

   <div class="container w-75">
    <div class="row flex-nowrap">
     <div class="col-md-3 col-sm-3">
      <%= image_tag @item.get_item_image(200,200) %>
     </div>
      <div class="col-md-6 col-sm-9">
    <table class="table table-striped">

     <tbody>
      <tr>
        <td class="border border-1 border-dark", style="width: 50%">商品名</td>
        <td class="border border-1 border-dark", style="width: 50%"><%= @item.name %></td></tr>
      <tr>
        <td class="border border-1 border-dark", style="width: 50%">商品説明</td>
        <td class="border border-1 border-dark", style="width: 50%"><%= @item.detail %></td></tr>
      <tr>
        <td class="border border-1 border-dark", style="width: 50%">ジャンル</td>
        <td class="border border-1 border-dark", style="width: 50%"><%= @item.genre.genre_name %></td></tr>
      <tr>
       <td class="border border-1 border-dark", style="width: 50%">税込価格<br>(税抜価格)</td>
       <td class="border border-1 border-dark", style="width: 50%"><%= (@item.tax_free * 1.1).floor %>(<%= @item.tax_free %>)円</td>
      <tr>
       <td class="border border-1 border-dark", style="width: 50%">販売ステータス</td>
       <td class="border border-1 border-dark", style="width: 50%"><% if @item.is_active %>
                                                                     <span class="text-success">販売中</span>
                                                                     <% else @item.is_active %>
                                                                     <span class="text-secondary">販売停止中</span>
                                                                     <% end %></td>
    </tbody>
   </table>

      <%= link_to "編集する",edit_admin_item_path(@item.id), class:'btn btn-sm btn-success px-3 ml-3' %>

    </div>
   </div>
  </div>