
<div class="my-5 container">
  <div class="img-fluid text-center">
    <p>
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧は可能ですが、<br>
    購入には会員登録が必要になります。
    </p>
    <%= image_tag "cake.jpeg", width: "70%", height: "40%" %>
  </div>
  <div class="row">
    <div class="col-lg-10 offset-lg-1 row">
      <h2 class="col-lg-12 mt-3">新着商品</h2>
      <% @items.each do |item| %>
      <div class="col-lg-3">
        <div>
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.get_item_image(200,200) %><br>
          <% end %>
        </div>
        <div><%= item.name %></div>
        <div>￥<%= (item.tax_free * 1.1).floor %></div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="float-right test-box">
    <%= link_to "すべての商品を見る", items_path %>
  </div>
</div>

