<h6 class="alert-secondary d-inline-block mb-4 mt-4 ml-5 px-3">
  <stronge class="font-weight-bold"><%= @customer.last_name %><%= @customer.first_name %></stronge>さんの<stronge class="font-weight-bold">会員情報編集</stronge>
</h6>

<%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
  <!--render "public/shared/error_messages", resource: resource -->

<section class="container small">
  <div class="row flex-nowrap">
    <div class="col-md-2">
      <h6 class="mb-3">会員ID</h6>
      <h6 class="mb-3">氏名</h6>
      <h6 class="mb-3">フリガナ</h6>
      <h6 class="mb-1"><%= f.label :"郵便番号" %></h6>
      <h6 class="mb-1"><%= f.label :"住所" %></h6>
      <h6 class="mb-1"><%= f.label :"電話番号" %></h6>
      <h6 class="mb-1"><%= f.label :"メールアドレス" %></h6>
      <h6>会員ステータス</h6>
    </div>
    
    <div class="col-md-10">
      <div class="mb-3"><%= @customer.id %></div>
    <div class="row">
        <div class="col-3">
          <div><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:'mb-2' %></div>
          <div><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", class:'mb-2' %></div>
        </div>
        <div class="col-9">
          <div><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:'mb-2' %></div>
          <div><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", class:'mb-2' %></div>
        </div>
      </div>
      <div class="mb-2"><%= f.text_field :address_number, autofocus: true, autocomplete: "address_number" %></div>
      <div class="mb-2"><%= f.text_field :address, autofocus: true, autocomplete: "address" %></div>
      <div class="mb-2"><%= f.number_field :phone_number, autofocus: true, autocomplete: "phone_number" %></div>
      <div class="mb-2"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
      <div class="mb-2">
        <%= f.radio_button :is_end, "false" %>
        <%= f.label :is_end, "有効" %>
        <%= f.radio_button :is_end, "true" %>
        <%= f.label :is_end, "退会" %>
      </div>
      <div class="form-group">
      <%= f.submit '編集を保存', class:'btn btn-sm btn-success px-4', style:"width: 250px" %>
    </div>
  </div>
</div>
      
<% end %>