<h6 class="alert-secondary d-inline-block font-weight-bold mb-3 mt-4 ml-5 px-3">会員一覧</h6>

  <table  class="ml-auto mr-auto w-75">
  <thead class="alert-secondary border-bottom border-top border-secondary">
    <tr>
      <th class="py-1">会員ID</th>
      <th class="">氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody class="border-bottom border-secondary font-weight-bold">
      <% @customers.each do |customer| %>
    <tr>
      <td class="py-1"><%= customer.id %></td>
      <td>
          <%= link_to admin_customer_path(customer.id) do %>
            <%= customer.last_name %><%= customer.first_name %>
          <% end %>
      </td>
      <td><%= customer.email %></td>
      <td>
        <% customer.is_end ? '有効' : '退会' %>
      </td>
    </tr>
      <% end %>
  </tbody>
</table>
<%= paginate @customers %>





