<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div>会員ID</div>
      <div>氏名</div>
      <div>フリガナ</div>
      <div>郵便番号</div>
      <div>住所</div>
      <div>電話番号</div>
      <div>メールアドレス</div>
      <div>会員ステータス</div>
    </div>
    <div class="col-md-8 offset-md-1">
      <div><%= @customer.id %></div>
      <div><%= @customer.last_name %><%= @customer.first_name %></div>
      <div><%= @customer.last_name_kana %><%= @customer.first_name_kana %></div>
      <div><%= @customer.address_number %></div>
      <div><%= @customer.address %></div>
      <div><%= @customer.phone_number %></div>
      <div><%= @customer.email %></div>
      <div><%= @customer.is_end ? '有効' : '退会' %></div>
    </div>
  </div>
</div>

<%= link_to '編集する', edit_admin_customer_path(@customer) %>
<%= link_to '注文履歴一覧を見る', admin_order_path(@customer) %>
