<div class="d-inline ml-5 pl-5"></div>
<h6 class="alert-secondary font-weight-bold d-inline-block ml-5 px-3 my-4">配送先編集</h6>

<%= form_with model: @deliverie, url:  delivery_path(@deliverie), method: :patch do |f| %>
<%= f.hidden_field :customer_id, :value => current_customer.id %>

<section class="container">
  <div class="row flex-nowrap">
    <div class="col-md-3 col-sm-4 font-weight-bold small">
      <div><%= f.label :"郵便番号(ハイフンなし)", class:'mb-4' %></div>
      <div><%= f.label :"住所", class:'mb-4' %></div>
      <div><%= f.label :"宛名" %></div>
    </div>
    
    <div class="col-md-5 col-sm-5">
      <div><%= f.text_field :address_number, autofocus: true, autocomplete: "address_number", class:'mb-2' %></div>
      <div><%= f.text_field :address, autofocus: true, autocomplete: "address", class:'w-100 mb-2' %></div>
      <div><%= f.text_field :address_name, autofocus: true, autocomplete: "address_name", class:'mb-5' %></div>
    </div>
    
    <div class="col-md-4 col-sm-3 d-flex align-items-end">
      <%= f.submit '変更内容を保存', class:'btn btn-sm btn-success px-4 mb-5' %>
    </div>
  </div>
</section>

<% end %>