<div class="d-inline ml-5 pl-5"></div>
<h6 class="font-weight-bold d-inline-block ml-5 px-3 my-4" style="background-color: ghostwhite">配送先登録/一覧</h6>

<%= form_with model: Delivery, url: deliveries_path, local:true do |f| %>

<%= f.hidden_field :customer_id, :value => current_customer.id %>

<section class="container">
  <div class="row flex-nowrap">
    <div class="col-md-3 col-sm-4 font-weight-bold small">
      <div><%= f.label :"郵便番号(ハイフンなし)", class:'mb-4' %></div>
      <div><%= f.label :"住所", class:'mb-4' %></div>
      <div><%= f.label :"宛名" %></div>
    </div>
    
    <div class="col-md-5 col-sm-5">
      <div><%= f.text_field :address_number, autofocus: true, autocomplete: "address_number", class:'mb-2' %></div>
      <div><%= f.text_field :address, autofocus: true, autocomplete: "address", class:'w-100 mb-2' %></div>
      <div><%= f.text_field :address_name, autofocus: true, autocomplete: "address_name", class:'mb-5' %></div>
    </div>
    
    <div class="col-md-4 col-sm-3 d-flex align-items-end">
      <%= f.submit '新規登録', class:'btn btn-sm px-4 mb-5', style:"background-color: #F3F1EA" %>
    </div>
  </div>
</section>
  <% end %>
  
  <table class="table table-bordered ml-5", style="width:70%">
    <thead style="background-color: ghostwhite">
      <tr>
        <th style="width:15% ">郵便番号</th>
        <th style="width:40% ">住所</th>  
        <th style="width:15% ">宛名</th>
        <th style="width:40% "></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @deliverie.each do |delivery| %>
        <td><%= delivery.address_number %></td>
        <td><%= delivery.address %></td>
        <td><%= delivery.address_name %></td>
        <td>
          <%= link_to '編集する', edit_delivery_path(delivery.id), class:'btn btn-sm px-3', style:"background-color: #F3F1EA" %>
          <%= link_to '削除する', delivery_path(delivery.id), method: :delete, class:'btn btn-sm btn-danger px-3' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>