注文詳細

 <div>購入者<br>
  <%= @order.customer.last_name %>  <%= @order.customer.first_name %>
 </div>

 <div>注文日<br>
  <%= @order.created_at.strftime('%Y/%m/%d') %>
 </div>

  <div>配送先<br>
  <%= @order.address_number %><br>
  <%= @order.address %>
 </div>

<!--更新記述追加する-->
 <div>入金ステータス<br>
  <%= form_with model: Order, url: admin_order_path(@order.id), method: :patch do |f| %>
   <%= f.select :status, Order.statuses_i18n.map{|k,v| [v,k]},{selected: @order.status} %>
   <%= f.submit '更新' %><br>
  <% end %>
 </div>


 <table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_details| %>
    <tr>
        <td><%= order_details.item.name %></td>
        <td><%= order_details.buy_in_tax * 1.1.floor %></td>
        <td><%= order_details.count %></td>
        <td><%= order_details.buy_in_tax * 1.1.floor * order_details.count %></td>
            <%= form_with model: order_details, url: admin_order_detail_path(order_details.id), method: :patch do |f| %>
        <td><%= f.select :make_status, OrderDetail.make_statuses_i18n.map{|k,v| [v,k]},{selected: order_details.make_status} %>
            <%= f.submit '更新' %></td>
            <% end %>
    <% end %>
    </tr>
  </tbody>
</table>