<div class="d-inline ml-5"></div><h6 class="d-inline-block ml-5 px-3 mb-4 mt-4 font-weight-bold" style="background-color: ghostwhite">注文詳細</h6>

<div class="container">
  <div class="row">
    <div class="col-md-7">
     <table class="table table-bordered">
        <tr>
          <th style="background-color: ghostwhite">購入者</th>
           <td><%= link_to admin_customer_path(@order.customer.id) do %>
               <%= @order.customer.last_name %>  <%= @order.customer.first_name %>
               <% end %>
           </td>
          </tr>

        <tr>
          <th style="background-color: ghostwhite">注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>

        <tr>
           <th style="background-color: ghostwhite">配送先</th>
            <td><%= @order.address_number %><br>
                <%= @order.address %>
          </td>
        <tr>
          <th style="background-color: ghostwhite">入金ステータス</th>
            <td><%= form_with model: Order, url: admin_order_path(@order.id), method: :patch do |f| %>
                <%= f.select :status, Order.statuses_i18n.map{|k,v| [v,k]},{selected: @order.status} %>
                <%= f.submit '更新', class:'btn btn-sm', "data-confirm" => "本当に更新しますか？", style:"background-color: #F3F1EA" %></td>
            <% end %>
      </table>
    </div>


    <div class="col-md-3">
   <table class="table table-bordered">
          <tr>
          <th style="background-color: ghostwhite">商品合計</th>
          <td><%= @order.payment - @order.shipping_cost %>円</td>
         </tr>
         <tr>
          <th style="background-color: ghostwhite">配送料</th>
          <td><%= @order.shipping_cost %>円</td>
         </tr>
          <tr>
           <th style="background-color: ghostwhite">請求金額合計</th>
           <td><%= @order.payment %>円</td>
          </tr>
    </table>
   </div>
  </div>

 <table class="table table-hover table-inverse table-bordered" style="width: 70%">
  <thead style="background-color: ghostwhite">
    <tr>
      <th style="width: 10%">商品名</th>
      <th style="width: 5%">単価(税込)</th>
      <th style="width: 5%">数量</th>
      <th style="width: 5%">小計</th>
      <th style="width: 10%">製作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order_details.each do |order_details| %>
    <tr style="line-height: 60px;">
        <td><%= order_details.item.name %></td>
        <td><%= order_details.buy_in_tax * 1.1.floor %></td>
        <td><%= order_details.count %></td>
        <td><%= order_details.buy_in_tax * 1.1.floor * order_details.count %></td>
            <%= form_with model: order_details, url: admin_order_detail_path(order_details.id), method: :patch do |f| %>
        <td><%= f.select :make_status, OrderDetail.make_statuses_i18n.map{|k,v| [v,k]},{selected: order_details.make_status} %>
            <%= f.submit '更新', class:'btn btn-sm', "data-confirm" => "本当に更新しますか？", style:"background-color: #F3F1EA" %></td>
            <% end %>
    <% end %>
    </tr>
  </tbody>
</table>


</div>