   <!--ジャンル新規追加-->
 <body>
  <h5 class="alert-secondary d-inline-block font-weight-bold mb-5 ml-5 px-3">ジャンル一覧・追加</h5>
     <div class="container rw-80 mx-auto">
   <%= form_with model: Genre, url:admin_genres_path, local:true do |f| %>

   <div class="row">
    <label class="col-md-2 col-sm-10 col-form-label w-100 d-inline">ジャンル名</label>
      <div class="col-md-2 col-sm-10 d-inline"><%= f.text_field :genre_name, class: "form-control" %></div>

   <div class="actions col-md-3"><%= f.submit '新規登録', class:'btn btn-sm btn-success px-4 w-50' %></div>
   <% end %>
   </div>
   <!--一覧表示-->
   <table class="table mt-5 col-md-4">
    <thead class="table-secondary">
     <tr>
      <th>ジャンル</th>
      <th style="width: 40%">
     </tr>
  </thead>
   <tbody>
    <tr>
     <% @genres.each do |genre| %>
     <td><%= genre.genre_name %></td>
     <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:'btn btn-sm btn-success px-4 ' %></td>
    </tr>
   <% end %>
     </tbody>
    </table>
   </div>
 </body>
