<h1>ショッピングカート</h1>
<td><%= link_to "カートを空にする", carts_destroy_all_path, method: :delete, "data-confirm" => "本当に削除しますか？" %></td>

   <table class="table table-hover table-inverse">
    <thead>
     <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
     </tr>
  </thead>
   <tbody>
    <tr>
     <% sum=0 %>
     <% @carts.each do |cart| %>
     <td><%= cart.item.name %></td>
     <td><%= cart.item.with_tax_price %></td>
         <%= form_with model: cart, url: cart_path(cart.id), local: :patch do |f| %>
     <td><%= f.select :count, [[1], [2], [3], [4], [5]]  %>
         <%= f.submit '変更', "data-confirm" => "本当に更新しますか？" %></td>
         <% end %>
     <td><%= cart.subtotal %></td>
     <td><%= link_to "削除する", cart_path(cart.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
         <% sum += cart.item.with_tax_price * cart.count %>
    </tr>
   <% end %>

   </tbody>
  </table>
   <h4>合計金額</h4>
   <%= sum %>
