<h5 class="alert-secondary d-inline-block font-weight-bold mb-5 ml-5 px-3">新規会員登録</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div class="container">
  <div class="row flex-nowrap">
    <div class="col-md-3 col-sm-2">
      <h6 class="mb-3">名前</h6>
      <h6 class="mb-3">フリガナ</h6>
      <h6 class="mb-3"><%= f.label :"メールアドレス" %></h6>
      <h6 class="mb-3"><%= f.label :"郵便番号(ハイフンなし)" %></h6>
      <h6 class="mb-3"><%= f.label :"住所" %></h6>
      <h6 class="mb-3"><%= f.label :"電話番号(ハイフンなし)" %></h6>
      <h6 class="mb-3"><%= f.label :"パスワード(6文字以上)" %></h6>
      <h6 class="mb-3"><%= f.label :"パスワード(確認用)" %></h6>
    </div>
    <div class="col-md-1 col-sm-2">
      <div class="field">
        <%= f.label :"(性)", class:'ml-3' %>
      </div>
      <div class="field">
        <%= f.label :"(セイ)", class:'ml-3' %>
      </div>
    </div>
    
    <div class="col-md-8 col-sm-9 flex-nowrap mb-3">
      <div class="field">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
        <%= f.label :"(名)" , class:'ml-5 mr-4'%>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:'ml-3' %>
      </div>
      
      <div class="field mb-2">
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
        <%= f.label :"(メイ)" , class:'ml-5 mr-4' %>
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
      </div>
      
      <div class="field mb-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field mb-2">
        <%= f.text_field :address_number, autofocus: true, autocomplete: "address_number" %>
      </div>

      <div class="field mb-2">
        <%= f.text_field :address, autofocus: true, autocomplete: "address", class:'w-75' %>
      </div>

      <div class="field mb-2">
        <%= f.number_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
      </div>

      <div class="field mb-2">
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field mb-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      
      <div class="actions">
        <%= f.submit "新規登録", class:'btn btn-sm btn-success px-4 w-25' %>
      </div>
    </div>
  </div>
</div>

<% end %>
<h5 class="alert-secondary d-inline-block font-weight-bold px-3 ml-5">既に登録済みの方</h5>
<div class="ml-5 pl-5">
  <%= link_to 'こちら', new_customer_session_path %>からログインしてください。
</div>