<div class="d-inline ml-5"></div><h6 class="alert-secondary d-inline-block ml-5 px-3 mb-4 mt-4 font-weight-bold">注文情報入力</h6>

<%= form_with model: @order, url:orders_check_path, local:true do |f| %>

<h6 class="font-weight-bold ml-5">支払方法</h6>
  <div class="ml-5 pl-4">
    <%= f.radio_button :pay_style, Order.pay_styles.key(0) %>
    <%= f.label :pay_style_credit_card, Order.pay_styles_i18n[:credit_card] %>
  </div>
  <div class="ml-5 pl-4">
    <%= f.radio_button :pay_style, Order.pay_styles.key(1) %>
    <%= f.label :pay_style_transfer, Order.pay_styles_i18n[:transfer]%>
  </div>
  
<h6 class="font-weight-bold ml-5">お届け先</h6>

  <div class="ml-5 pl-4">
    <%= f.radio_button :select_address, 0 %>
    <%= f.label :select_address, "ご自身の住所" %><br>
    
    <div class="d-inline-block ml-2 mb-3">
      &emsp;〒<%= @orders.address_number %><%= @orders.address %><br>
      &emsp;<%= @orders.last_name %><%= @orders.first_name %>
    </div>
  </div>
  
  <div class="ml-5 pl-4">
    <%= f.radio_button :select_address, 1 %>
    <%= f.label :select_address, "登録住所から選択" %><br>
    
    <div class="d-inline-block ml-4 mb-3">
      <%= f.select :address_id, options_from_collection_for_select(Delivery.all, :id, :address_display) %>
    </div>
  </div>
  
  <div class="ml-5 pl-4 mb-3">
    <%= f.radio_button :select_address, 2 %>
    <%= f.label :select_address, "新しいお届け先" %>
    
    <div class="field ml-4 mb-2">
      <%= f.label :"郵便番号(ハイフンなし)", class:'w-25' %>
      <%= f.text_field :address_number, autofocus: true, autocomplete: "address_number", class:'w-25' %>
    </div>
  
    <div class="field ml-4 mb-2">
      <%= f.label :"住所", class:'w-25' %>
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class:'w-50' %>
    </div>
  
    <div class="field ml-4">
      <%= f.label :"宛名", class:'w-25' %>
      <%= f.text_field :address_name, autofocus: true, autocomplete: "address_name", class:'w-25' %>
    </div>
  </div>
  
  <div class="form-group row justify-content-center">
    <%= f.submit '確認画面へ進む', class:'btn btn-sm btn-primary px-3' %>
  </div>
  <% end %>