<h2>ログイン</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


<h4>会員の方はこちらからログイン</h4>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "パスワード" %>
  </div>

  

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<h4>会員がお済みでない方</h4>
<%= link_to 'こちら', new_customer_registration_path %>から新規登録を行ってください。
