<section class="container">
  <div class="row">
    <div class="col-md-2 col-sm-0"></div>
    <div class="col-md-10 col-sm-12">
      <h4 class="alert-secondary d-inline-block px-3 mb-4">ログイン</h4><br>
      <h6 class="alert-secondary d-inline-block font-weight-bold mx-3 px-3">会員の方はこちらからログイン</h6>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="row my-3">
            <div class="col-md-4 col-sm-6">
              <div class="field mb-2">
                <%= f.label :メールアドレス, class: 'ml-5 pl-5' %>
              </div>
              <div class="field">
                <%= f.label :パスワード, class: 'ml-5 pl-5' %>
              </div>
            </div>
            <div class="col-md-8 col-sm-6">
              <div class="field mb-2">
                <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス", class: 'w-50' %>
              </div>
              <div class="field mb-4">
                <%= f.password_field :password, autocomplete: "パスワード", class: 'w-50' %>
              </div>
              <div class="actions mb-3">
                <%= f.submit "ログイン" ,class: 'btn btn-sm btn-primary px-4' %>
              </div>
            </div>
          </div>

      <% end %>
      <h6 class="alert-secondary d-inline-block font-weight-bold mx-3 px-3">会員がお済みでない方</h6>
      <div class="pl-5 ml-5">
        <%= link_to 'こちら', new_customer_registration_path %>から新規登録を行ってください。
      </div>
    </div>
  </div>
</section>