<!--<h1>Public::Items#show</h1>-->
<div class="container">
  <div class="row">
    <div class="col-2 mt-4 d-block">
    <%= image_tag @item.image %>
　  </div>
  
    <div class="col-2 mt-4">
      <div class="d-block"><%= @item.detail %></div>
      <div class="d-block"><%= @item.name %></div>
      <div class="d-block">￥<%= @item.tax_free %>(税込)</div>   
    </div>  
  </div>
　
    
  
    
    
  <div class="form-group row col-lg-8">
  <%= form_with model: @Cart, url: carts_path, local: :true do |f| %>
    <%= f.hidden_field :customer_id, :value => current_customer.id %>
    <%= f.hidden_field :item_id, :value => @item.id %>
  </div>
  <div class="font-weight-bold d-inline-block ml-3 mr-2 mt-3">
    <%= f.select :count, [[1], [2], [3], [4], [5]], include_blank: "個数選択", class:"btn btn-outline-secondary" %>
  </div>
  <div class="font-weight-bold d-inline-block ml-3 mr-2 mt-3">
    <%= f.submit "カートに追加する", class:"btn btn-sm btn-success px-3 ml-3" %>
  </div>
</div>
</div>
  <% end %>